@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --that_green: #004343;
  --brown: rgb(36, 16, 8);
  --lemon: #adf802;
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

body {
  /* height: 100vh; */
  color: rgb(var(--foreground-rgb));
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: white;
  /* border: 1px solid black; */
  /* height: 230vh; */
}

/* Navbar.css stylesheet */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --primary: #25092c;
  --secondary: #9be8a1;
  --yellow: #e9ec6b;
  --yellows: #f6e33cd6;
}
h1 {
  font-size: 45px;
  font-weight: 900;
  /* line-height: 80px; */
  color: black;
  font-family: "Roboto", sans-serif;
}
h4 {
  font-size: 30px;
  font-weight: 300;
  /* line-height: 80px; */
  color: black;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, #f06, #9f6);
  background-clip: text;
  color: transparent;
}
.market_overview {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Horizontal, vertical, blur, color */
}
.navbar {
  /* background-color: rgba(0, 0, 0, 1); */
  /* background-color: #ddfa0492; */
  width: 100%;
  height: 7vh;
  display: flex;
  z-index: 50;
  /* opacity: ; */
  /* border: 2px solid; */
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 0px; */
}
.logo-menu {
  /* display: none; */
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  /* border: 2px solid red; */
}
.menu-icon {
  display: none;
}
.nav-menu {
  /* padding: 3px; */
  width: 25vw;
  /* margin: 0px 25px; */
  /* border: 1px solid sandybrown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
ul li {
  /* font-family: "DynaPuff", cursive; */
  font-family: "Roboto", sans-serif;

  /* margin-left: 1rem; */
  list-style: none;
  /* padding-right: 25px; */
}

ul a {
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s ease-out;
}

ul a:hover {
  /* transform:rotate(45deg); */
  color: rgb(100 116 139);
  /* font-size: 18px; */
}

.musicplayer {
  border: 2px solid black;
  margin: 0%;
}
.icon {
  display: flex;
  gap: 15px;
  margin-right: 0px;
  transition: 0.3s ease-out;
  /* border: 2px solid black;  */
}
.icon li {
  /* border: 2px solid var(--primary); */

  /* background-color: aqua; */
  display: flex;
  justify-content: left;

  /* padding-right: 40px; */
  color: var(--primary);

  cursor: poRoboto;
  font-size: 20px;
  transition: 0.15s ease-in;
}
.icon li:hover {
  color: #8b1da4d8;
  font-size: 22px;
  /* color: #3d3a3e; */
  animation: vibrate 2s ease-in 0s;
}

@keyframes vibrate {
  0% {
    border-radius: 50%;
    rotate: 5deg;
    font-size: 30px;
  }
  100% {
    border-radius: 50%;
    rotate: -5deg;
    font-size: 10pxph;
  }
}
.logos {
  /* border: 1px solid var(--secondary); */
  display: flex;
  align-items: center;
}

@media screen and (max-width: 789px) {
  .navbar {
    height: 8vh;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
    /* line-height: 80px; */
    color: black;
    /* border: 2px solid; */
    font-family: "Roboto", sans-serif;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    /* line-height: 80px; */
    color: black;
    /* border: 2px solid; */
    font-family: "Roboto", sans-serif;
  }

  .icon {
    display: flex;
    gap: 15px;
    /* justify-content: flex; */
    padding: 0 1rem;
    /* margin: 0 0; */
    position: absolute;
    bottom: 10px;
    /* border: 2px solid #004343; */
    width: 100vw;
    /* left: 10; */
    align-self: flex-end;
  }

  .menu-icon {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .nav-menu {
    /* border: 1px solid blue; */
  }

  .navbar #mobile,
  .navbar #hide {
    display: block;
    position: absolute;
    left: 0;
    height: 60vh;
    top: 8vh;
    width: 100%;
    padding-bottom: 0px;
    transition: all 0.3s;
    /* background-color: inherit; */
  }
  .navbar #mobile li,
  .navbar #hide li {
    /* border-bottom: 1px solid #f5900c; */
    text-align: left;
    padding: 1rem 1rem;
    /* border-bottom: 1px solid var(--secondary); */
    /* margin: 0 1rem; */
  }
  /* ul a {
    color: #f5900c;
  } */
  ul li {
    /* border-bottom: 1px solid #f5900c; */
    width: 95vw;
  }
  .navbar #mobile li:last-child,
  .navbar #hide li:last-child {
    /* border-bottom: none; */
  }
  .navbar #mobile {
    left: 0%;
  }
  .navbar #hide {
    left: -150%;
  }
}

.button {
  /* cursor: pointer; */
}
.button:hover {
  cursor: pointer;
  opacity: 0.85;
  /* scale: 0.95; */
}
/* Back to top button */

.back-to-top {
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  background-color: #f5900c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: poRoboto;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999; /* Set a higher z-index to bring it to the front */
}

.back-to-top.visible {
  display: block;
}

.back-to-top:hover {
  opacity: 0.8;
}

.footer-distributed {
  background: #111;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px "Roboto";
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}

.footer-distributed h3 span {
  color: #f5900c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #111111;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-right .footer-icons a:hover {
  color: #f5900c;
  transition: all .1s ease-in;
  
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Default styles for the footer-about element */
.footer-distributed .footer-about {
  width: 50%; /* Set width to 50% by default for desktop */
}

/* Media query for mobile screens (max-width: 767px) */
@media (max-width: 767px) {
  .footer-distributed .footer-about {
    width: 100%; /* Set width to 100% for mobile screens */
  }
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #111111;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px "Roboto";
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* Customize scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.SweetAlertButton {
  background-color: #f5900c;
  color: #ffffff;
}

.rotating-image {
  width: 100px;
  height: 100px;
  animation: rotateAnimation 4s linear infinite;
  transform-origin: center;
}

@keyframes rotateAnimation {
  0%, 100% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(120deg);
  }
  66% {
    transform: rotateY(240deg);
  }
}